In [1]:
# Import packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Concatenate Original Datasets

In [2]:
# Read the data from the CSV file
data1 = pd.read_csv("../Data/socialinsider_events_2024-05.csv")
data2 = pd.read_csv("../Data/socialinsider_events_2024-06.csv")
data3 = pd.read_csv("../Data/socialinsider_events_2024-07.csv")
data4 = pd.read_csv("../Data/socialinsider_events_2024-08.csv")
data5 = pd.read_csv("../Data/socialinsider_events_2024-09.csv")
data6 = pd.read_csv("../Data/socialinsider_events_2024-1008.csv")
data7 = pd.read_csv("../Data/socialinsider_events_2024-1029.csv")

In [3]:
# Concatenate the data
data = pd.concat([data1, data2, data3, data4, data5, data6, data7])

# Sort the data by time_created
data = data.sort_values(by="time_created")

In [4]:
data

,event_name,user_id,time_created,user_type,time_zone,country,view,platform,report_type,load_time
237525,profile load success,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T20:59:17.702Z,trial,Europe/London,Britain (UK),profile,ig,NaN,1.264
237524,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.728Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN
237523,compare,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.765Z,trial,Europe/London,Britain (UK),profile,instagram,NaN,NaN
237522,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:20.243Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN
237521,profile visit,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:27.275Z,trial,Europe/London,Britain (UK),profile,tw,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:45.795Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN
3,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:47.209Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN
2,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.148Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN
1,posts section visit,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.168Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN
0,posts section load success,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.475Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,0.309

### Create a column to determine whether the event is from converted users

In [5]:
# Create a column that show whether the event is successful or not
buy_users = data[
    (data["event_name"] == "New Client") | (data["event_name"] == "Buy Success")
]["user_id"].tolist()
# 1 if the user is in buy_users, 0 otherwise
data["successful"] = data["user_id"].apply(lambda x: 1 if x in buy_users else 0)
data

,event_name,user_id,time_created,user_type,time_zone,country,view,platform,report_type,load_time,successful
237525,profile load success,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T20:59:17.702Z,trial,Europe/London,Britain (UK),profile,ig,NaN,1.264,0
237524,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.728Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN,0
237523,compare,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.765Z,trial,Europe/London,Britain (UK),profile,instagram,NaN,NaN,0
237522,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:20.243Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN,0
237521,profile visit,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:27.275Z,trial,Europe/London,Britain (UK),profile,tw,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
4,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:45.795Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN,0
3,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:47.209Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN,0
2,i10e-section-select,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.148Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN,0
1,posts section visit,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.168Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,NaN,0
0,posts section load success,972a3338a20a8ea71a6dec6011185db6fe6d6026cf74dd...,2024-10-29T14:54:49.475Z,trial,America/Bogota,Colombia,hashtag,xch,NaN,0.309,0

### Convert the timestamp

In [6]:
# create the date that the event was created
data["Date_Created"] = pd.to_datetime(data["time_created"]).dt.date
# create the hour that the event was created
data["Hour_Created"] = pd.to_datetime(data["time_created"]).dt.hour
# create the day of the week that the event was created
data["Day_Of_Week_Created"] = pd.to_datetime(data["time_created"]).dt.day_name()

### Check for Missing Values

In [7]:
data["load_time"].isnull().sum()

1107926

### Create Buy Success Event and Unsuccessful Event

In [8]:
buy_users = data[
    (data["event_name"] == "New Client") | (data["event_name"] == "Buy Success")
]["user_id"].tolist()
buy_users_events = data[data["user_id"].isin(buy_users)]
# create a dataset with only the unsuccessful events
not_buy_users_events = data[data["successful"] == 0]

### View in buy success event

In [9]:
# calculate the percentage of views in both successful and not successful events
print(
    "buy success event",
    buy_users_events["view"].value_counts() / len(buy_users_events) * 100,
)
print(
    "not buy success event",
    not_buy_users_events["view"].value_counts() / len(not_buy_users_events) * 100,
)

buy success event view
profile        26.261357
benchmark      15.957858
projecthome     9.757394
brands          5.233907
postsfeed       4.257684
campaigns       2.261744
settings        1.672144
upgradeplan     0.913396
reports         0.889233
hashtag         0.125652
ads             0.111154
add             0.111154
addprofiles     0.053161
proj            0.024164
bench           0.014498
connect         0.004833
Name: count, dtype: float64
not buy success event view
profile            37.435202
benchmark           9.088783
projecthome         7.017688
postsfeed           2.848635
brands              2.527300
campaigns           2.184001
reports             0.722786
upgradeplan         0.640852
hashtag             0.523680
settings            0.252043
bench               0.029708
add                 0.027180
proj                0.014222
addprofiles         0.007664
ads                 0.007032
search              0.003002
connect             0.001580
content-pillars     0.000948
page                0.000079
Name: count, dtype: float64

# User Data Transformation

#### Success, event count, and country

In [10]:
user_data = (
    data.groupby("user_id")
    .agg(
        {
            "event_name": "count",  # Count events
            "country": "first",  # Take the first occurrence of country (assuming it's the same for each user)
        }
    )
    .reset_index()
    .rename(columns={"event_name": "event_count"})  # Rename for clarity
    .sort_values(by="event_count", ascending=False)  # Sort by event_count
)

In [11]:
# Convert counties to separate columns if they are in certain countries
user_data["country_United_States"] = user_data["country"].apply(
    lambda x: 1 if x == "United States" else 0
)
user_data["country_Saudi_Arabia"] = user_data["country"].apply(
    lambda x: 1 if x == "Saudi Arabia" else 0
)
user_data["country_India"] = user_data["country"].apply(
    lambda x: 1 if x == "India" else 0
)
user_data["country_Britain"] = user_data["country"].apply(
    lambda x: 1 if x == "Britain (UK)" else 0
)
user_data["country_Italy"] = user_data["country"].apply(
    lambda x: 1 if x == "Italy" else 0
)

In [12]:
# Add the column to show whether the user is successful or not
user_data["successful"] = user_data["user_id"].apply(
    lambda x: 1 if x in buy_users else 0
)
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful
11103,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0
4820,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0
5297,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0
13620,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0
5004,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2341,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0
5710,69d1d96d2d29467d3eddb1bbaec5ed364941c09629d401...,0,None,0,0,0,0,0,0
7687,8f14ccc4db353eaefaab6ac8efc4a3b68b2a8731a3b35a...,0,None,0,0,0,0,0,0
9255,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0
4773,58620f4bb811ae3d3194ec268accb68794b16d33537508...,0,None,0,0,0,0,0,0

#### Transform Load Time

In [13]:
# get the average load time for each client and sort by the average load time
average_load_time = data.groupby("user_id")["load_time"].mean().sort_values()

In [14]:
# add the column to show the average load time for each user
user_data["average_load_time"] = user_data["user_id"].apply(
    lambda x: average_load_time[x] if x in average_load_time else None
)
# Replace missing values in 'average_load_time' with the median
median_load_time = user_data["average_load_time"].median()
user_data["average_load_time"].fillna(median_load_time, inplace=True)

user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time
11103,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146
4820,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046
5297,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422
13620,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242
5004,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071
...,...,...,...,...,...,...,...,...,...,...
2341,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.741000
5710,69d1d96d2d29467d3eddb1bbaec5ed364941c09629d401...,0,None,0,0,0,0,0,0,1.741000
7687,8f14ccc4db353eaefaab6ac8efc4a3b68b2a8731a3b35a...,0,None,0,0,0,0,0,0,1.741000
9255,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.741000
4773,58620f4bb811ae3d3194ec268accb68794b16d33537508...,0,None,0,0,0,0,0,0,1.741000

In [15]:
# get the maximum load time for each client and sort by the maximum load time
max_load_time = data.groupby("user_id")["load_time"].max().sort_values()

In [16]:
# add the column to show the maximum load time for each user
user_data["max_load_time"] = user_data["user_id"].apply(
    lambda x: max_load_time[x] if x in max_load_time else None
)
# Replace missing values in 'max_load_time' with the median
median_max_load_time = user_data["max_load_time"].median()
user_data["max_load_time"].fillna(median_max_load_time, inplace=True)

#### Converted Event

In [17]:
event_counts = (
    data.groupby("user_id")
    .apply(
        lambda x: pd.Series(
            {
                "event_bench_load_success_count": (
                    x["event_name"] == "bench load success"
                ).sum(),
                "event_profile_search_success_count": (
                    x["event_name"] == "profile search success"
                ).sum(),
                "event_add_profile_success_count": (
                    x["event_name"] == "add profile success"
                ).sum(),
                "event_upgrade_plan_count": (x["event_name"] == "upgrade_plan").sum(),
                "event_pricing_model_count": (
                    x["event_name"] == "pricing modal visited"
                ).sum(),
                "event_profile_load_fail_count": (
                    x["event_name"] == "profile load fail"
                ).sum(),
                "event_email_receipt_count": (x["event_name"] == "email receipt").sum(),
            }
        )
    )
    .reset_index()
)

In [18]:
# join the event_counts dataframe on user_data using user_id
user_data = user_data.merge(event_counts, on="user_id", how="left")

In [19]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,max_load_time,event_bench_load_success_count,event_profile_search_success_count,event_add_profile_success_count,event_upgrade_plan_count,event_pricing_model_count,event_profile_load_fail_count,event_email_receipt_count
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,2.277,0,2,1,3,3,3450,1
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,10.068,1,2,2,1,1,0,4
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,64.181,0,1,3,4,4,1849,1
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,5.232,2,2,3,1,1,1,12
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,5.204,9,35,20,0,0,1572,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.741000,3.141,0,0,0,0,0,0,0
13776,69d1d96d2d29467d3eddb1bbaec5ed364941c09629d401...,0,None,0,0,0,0,0,0,1.741000,3.141,0,0,0,0,0,0,0
13777,8f14ccc4db353eaefaab6ac8efc4a3b68b2a8731a3b35a...,0,None,0,0,0,0,0,0,1.741000,3.141,0,0,0,0,0,0,0
13778,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.741000,3.141,0,0,0,0,0,0,0
13779,58620f4bb811ae3d3194ec268accb68794b16d33537508...,0,None,0,0,0,0,0,0,1.741000,3.141,0,0,0,0,0,0,0

### Transform Platform

In [20]:
# convert to shortcut
data["platform"] = data["platform"].apply(
    lambda x: (
        "fb"
        if x == "facebook" or x == "showFacebook"
        else (
            "tw"
            if x == "twitter"
            else (
                "ig"
                if x == "instagram"
                else (
                    "yt"
                    if x == "youtube"
                    else (
                        "li"
                        if x == "linkedin"
                        else (
                            "tk"
                            if x == "tiktok"
                            else "xch" if x == "cross-platform" else x
                        )
                    )
                )
            )
        )
    )
)

# rename to platform + original name + count
data["platform"] = data["platform"].apply(lambda x: f"platform_{x}_count")

# count
platform_data = (
    data.groupby(["user_id", "platform"]).size().unstack(fill_value=0).reset_index()
)

# merge
user_data = user_data.merge(platform_data, on="user_id", how="left")

In [21]:
# print count of each platform
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,platform_hashtags_count,platform_ig._count,platform_ig_count,platform_li_count,platform_meta_count,platform_nan_count,platform_tk_count,platform_tw_count,platform_xch_count,platform_yt_count
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,0,0,6947,0,0,4,0,0,22,0
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,0,0,0,0,0,6,4684,0,10,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,0,0,3829,0,2,4,0,0,26,0
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,0,0,79,0,0,18,3370,0,75,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,0,0,27,0,0,5,3222,40,93,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.741000,...,0,0,0,0,0,2,0,0,0,0
13776,69d1d96d2d29467d3eddb1bbaec5ed364941c09629d401...,0,None,0,0,0,0,0,0,1.741000,...,0,0,0,0,0,2,0,0,0,0
13777,8f14ccc4db353eaefaab6ac8efc4a3b68b2a8731a3b35a...,0,None,0,0,0,0,0,0,1.741000,...,0,0,0,0,0,1,0,0,0,0
13778,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.741000,...,0,0,0,0,0,2,0,0,0,0
13779,58620f4bb811ae3d3194ec268accb68794b16d33537508...,0,None,0,0,0,0,0,0,1.741000,...,0,0,0,0,0,2,0,0,0,0

In [22]:
# add a column in user_data for total platforms of each user
user_data["platform_total_count"] = user_data.iloc[:, 5:].sum(axis=1)
print(user_data["platform_total_count"].value_counts())

platform_total_count
6.882000      493
5.882000      410
7.882000      354
8.882000      342
9.882000      271
             ...
162.936176      1
165.516950      1
158.768087      1
189.559762      1
101.844875      1
Name: count, Length: 9134, dtype: int64

### Transform View

In [23]:
# rename
data["view"] = data["view"].apply(lambda x: f"view_{x}")

# convert
view_data = data.groupby(["user_id", "view"]).size().unstack(fill_value=0).reset_index()
view_data

view,user_id,view_add,view_addprofiles,view_ads,view_bench,view_benchmark,view_brands,view_campaigns,view_connect,view_content-pillars,...,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,0002d15146772c027a9edb7de110b9f89e306713e17e88...,0,0,0,0,0,0,0,0,0,...,18,0,0,33,0,9,4,0,0,0
1,00060bf870ad790482c39c36da5372f44d56426d327c36...,0,0,0,0,0,0,0,0,0,...,124,0,50,0,0,29,0,0,0,0
2,0007e623b14ceefae2ea443c21ec2f35e7b1e588f74641...,0,0,0,0,0,0,0,0,0,...,13,0,0,14,0,0,2,0,0,0
3,000d86487583845e398c65dfc5fd2cf7cf872c3f64f5fc...,0,0,0,0,0,0,0,0,0,...,18,0,0,0,0,3,0,0,0,0
4,00195548c17065bb6ae71b927c39e105d221c970ecf15e...,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,ffd9bf8af2ff5be89bafbc0f81601f0b7885bf7e936996...,0,0,0,0,17,0,5,0,0,...,29,0,13,71,0,9,1,0,0,0
13776,ffe4b53d23689200a4b17c18a74fed6b4200b0584cc908...,0,0,0,0,35,6,4,0,0,...,15,0,19,17,0,14,2,0,1,1
13777,ffe6826e951b6732172295389081557ce62af9a251c520...,0,0,0,0,0,0,0,0,0,...,17,0,0,29,0,2,0,0,0,0
13778,ffec141be95163c3f233778076c9c68ca600d5abd84f2f...,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
13779,fff13d73a0dbd972e4f33684a9b7578d31845546205844...,0,0,0,0,21,0,10,0,0,...,23,0,4,57,0,9,1,0,0,0

In [24]:
# merge
user_data = user_data.merge(view_data, on="user_id", how="left")

In [25]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,16,0,8,6945,0,2,0,0,0,2
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,19,0,0,4674,0,3,0,0,0,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,22,0,0,3889,0,11,0,0,0,3
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,46,0,8,3430,0,38,3,0,0,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,126,0,0,3216,0,14,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13776,69d1d96d2d29467d3eddb1bbaec5ed364941c09629d401...,0,None,0,0,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13777,8f14ccc4db353eaefaab6ac8efc4a3b68b2a8731a3b35a...,0,None,0,0,0,0,0,0,1.741000,...,1,0,0,0,0,0,0,0,0,0
13778,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13779,58620f4bb811ae3d3194ec268accb68794b16d33537508...,0,None,0,0,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0

In [26]:
# print unique columns in user_data
print(user_data.columns)
# print number of columns in user_data
print("Number of columns in user_data:", len(user_data.columns))

Index(['user_id', 'event_count', 'country', 'country_United_States',
       'country_Saudi_Arabia', 'country_India', 'country_Britain',
       'country_Italy', 'successful', 'average_load_time', 'max_load_time',
       'event_bench_load_success_count', 'event_profile_search_success_count',
       'event_add_profile_success_count', 'event_upgrade_plan_count',
       'event_pricing_model_count', 'event_profile_load_fail_count',
       'event_email_receipt_count', 'platform_all_count',
       'platform_brbench_count', 'platform_fb_count',
       'platform_hashtags_count', 'platform_ig._count', 'platform_ig_count',
       'platform_li_count', 'platform_meta_count', 'platform_nan_count',
       'platform_tk_count', 'platform_tw_count', 'platform_xch_count',
       'platform_yt_count', 'platform_total_count', 'view_add',
       'view_addprofiles', 'view_ads', 'view_bench', 'view_benchmark',
       'view_brands', 'view_campaigns', 'view_connect', 'view_content-pillars',
       'view_hashtag', 'view_nan', 'view_page', 'view_postsfeed',
       'view_profile', 'view_proj', 'view_projecthome', 'view_reports',
       'view_search', 'view_settings', 'view_upgradeplan'],
      dtype='object')
Number of columns in user_data: 52

In [40]:
# number of users who have event count <= 1
print("Number of users who have event count <= 1:", len(user_data[user_data["event_count"] <= 1]))
# total number of users
print("Total number of users:", len(user_data))

Number of users who have event count <= 1: 603
Total number of users: 13780

In [41]:
# filter out users with event count <= 1
user_data = user_data[user_data["event_count"] > 1]

## Export Data as CSV

In [27]:
# # export user_data to csv
# user_data.to_csv("user_data.csv", index=False)

In [42]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,16,0,8,6945,0,2,0,0,0,2
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,19,0,0,4674,0,3,0,0,0,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,22,0,0,3889,0,11,0,0,0,3
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,46,0,8,3430,0,38,3,0,0,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,126,0,0,3216,0,14,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13172,53f77cf2b05a3a8f212fb8a0b1720e24e60897658ad206...,2,Pakistan,0,0,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13173,53fb75acc667e46110323d390b1b7897498180db9e3e44...,2,India,0,0,1,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13174,65ec94dca47ced24c65356181370f58aa2f7c0b9f4a2c0...,2,Britain (UK),0,0,0,1,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13175,7fc9426481acb5ed7e80986ac292504749cbbbfc018985...,2,Saudi Arabia,0,1,0,0,0,0,1.741000,...,2,0,0,0,0,0,0,0,0,0
13176,a5b67e06c7466d5c116f6e916b357ef502490fe8239caa...,2,Romania,0,0,0,0,0,0,1.741000,...,1,0,0,0,0,0,0,0,0,1

## Train Test Split

In [43]:
user_data_train = user_data.drop(["user_id", "country"], axis=1)

In [44]:
user_data_train.isnull().sum()

event_count                           0
country_United_States                 0
country_Saudi_Arabia                  0
country_India                         0
country_Britain                       0
country_Italy                         0
successful                            0
average_load_time                     0
max_load_time                         0
event_bench_load_success_count        0
event_profile_search_success_count    0
event_add_profile_success_count       0
event_upgrade_plan_count              0
event_pricing_model_count             0
event_profile_load_fail_count         0
event_email_receipt_count             0
platform_all_count                    0
platform_brbench_count                0
platform_fb_count                     0
platform_hashtags_count               0
platform_ig._count                    0
platform_ig_count                     0
platform_li_count                     0
platform_meta_count                   0
platform_nan_count                    0
platform_tk_count                     0
platform_tw_count                     0
platform_xch_count                    0
platform_yt_count                     0
platform_total_count                  0
view_add                              0
view_addprofiles                      0
view_ads                              0
view_bench                            0
view_benchmark                        0
view_brands                           0
view_campaigns                        0
view_connect                          0
view_content-pillars                  0
view_hashtag                          0
view_nan                              0
view_page                             0
view_postsfeed                        0
view_profile                          0
view_proj                             0
view_projecthome                      0
view_reports                          0
view_search                           0
view_settings                         0
view_upgradeplan                      0
dtype: int64

In [45]:
from sklearn.model_selection import train_test_split

# Assuming you have a DataFrame `df` with features `X` and a target column `y`
X = user_data_train.drop("successful", axis=1)
y = user_data_train["successful"]

# Perform train-test split, with 80% of the data used for training and 20% for testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=10
)

# Now you have your train and test datasets ready
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(10541, 49) (2636, 49) (10541,) (2636,)

In [46]:
# Conversion rate in the training set
y_train.sum() / len(y_train)

0.00844322170572052

In [47]:
# Conversion rate in the test set
y_test.sum() / len(y_test)

0.008725341426403643

In [48]:
len(y_test)

2636

In [49]:
# Save the train and test datasets to CSV files
X_train.to_csv("../Transformed_Data/X_train.csv", index=False)
X_test.to_csv("../Transformed_Data/X_test.csv", index=False)
y_train.to_csv("../Transformed_Data/y_train.csv", index=False)
y_test.to_csv("../Transformed_Data/y_test.csv", index=False)